<div class="contenedor">
    <div class="social">
        <div class="line"></div>
        <div class="icons">
            <!-- <img src="../../../assets/media/logo-x.png" alt="X">
            <img src="../../../assets/media/logo-ig.png" alt="Instagram">
            <img src="../../../assets/media/logo-tt.png" alt="TikTok"> -->
            <a><img src="../../../assets/media/logo-x.png" alt="X"></a>
            <a><img src="../../../assets/media/logo-ig.png" alt="Instagram"></a>
            <a><img src="../../../assets/media/logo-tt.png" alt="TikTok"></a>
        </div>
        <div class="line"></div>
    </div>
    <p class="name">Amor Incondicional</p>
    <p>© 2024 Amor incondicional. Todos los derechos reservados.</p>
    <p>Esta página es solo un proyecto estudiantil. ¡Gracias por visitarnos!</p>
</div>