<table >
    <tr >
        <td class="tdotra">
            <p class="tituloS vision">Vision </p><br>
           <p class="textillo">Nuestra visión es un mundo donde todos los animales sean tratados con compasión y respeto, y donde cada refugio tenga los recursos necesarios para cuidar de los animales en situación de riesgo. Aspiramos a ser un referente en la comunidad, fomentando la educación y la conciencia sobre la importancia del bienestar animal y promoviendo la adopción responsable como primera opción.</p> 
        </td>
        <td> <br><video loop autoplay class="videoop" src="assets/imgSio/verdeperrito.mp4"></video> <br><br></td>
    </tr>    
    <tr>
        <td class="td1"><video class="otrovideo" loop autoplay  src="assets/imgSio/voluntario.mp4"></video></td>
        <td class="td2">
           <p class="tituloS mis" >Mision </p> <br>
           <p> Nuestra misión en "Amor Incondicional" es rescatar, rehabilitar y reubicar animales necesitados, brindándoles un entorno seguro y amoroso. Nos dedicamos a proteger a los animales del maltrato y el abandono, promoviendo el respeto, el cuidado y la adopción responsable. Creemos que todos los animales merecen vivir con dignidad y amor incondicional.</p>
        </td>
    </tr>
    <tr >
        <td class="tds">
            <p class="tituloS valores" > Valores </p><br>
            <p class="tituloS" >Compasión:</p>  Tratamos a todos los animales con amor, paciencia y empatía, reconociendo su valor intrínseco. <br> <br>
            <p class="tituloS" >Respeto:</p> Valoramos a cada animal y a cada persona que interactúa con nuestro refugio, promoviendo un ambiente de inclusión y diversidad. <br> <br>
            <p class="tituloS" >Transparencia:</p> Somos abiertos y honestos en todas nuestras actividades y comunicaciones, creando confianza con nuestra comunidad y colaboradores. <br> <br>
            <p class="tituloS" >Educación:</p> Fomentamos la educación sobre el bienestar animal y la importancia de la adopción responsable para reducir el número de animales sin hogar. <br> <br>
            <p class="tituloS" >Responsabilidad:</p> Asumimos la responsabilidad de nuestros actos y trabajamos para mejorar continuamente, buscando siempre lo mejor para los animales bajo nuestro cuidado.

        </td>
        <td ><video loop autoplay class="videito"  src="assets/imgSio/gato.mp4"></video></td>
    </tr>
</table>