@import "primeicons/primeicons.css";
* {font-family: Georgia, 'Times New Roman', Times, serif;}

.menu {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav{
    height: 110px;
    border-bottom: 3px solid #74502b;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.8); */
    z-index: 999;
}

img {
    width: 144px;
    height: 144px;
    border-radius: 50%;
    border: 3px solid #74502b;
}

a {
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 20px;
    justify-content: space-around;
    width: 250px;
    text-align: center;
    text-decoration: none;
    color: #654321;
    /* border: 1px solid blue; */
}

a.logo {
    padding: 0;
    padding-top: 40px;
}

.active{
    font-weight: bold;
    color: #74502b;
    text-decoration: 0.1rem underline ;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: relative;
}

input {
    border: 1px solid #654321;
    border-radius: 5px;
    width: 200px;
    font-size: 15px;
    padding-inline-start: 5px;
    height: 35px;
}


@media screen and (max-width: 1500px){
    a {padding: 20px 10px;}
    a.logo {padding: 0;margin: 5px;}
    nav{height: auto ; padding: 0;}
    a.a-search {width: 205px; padding:20px 0;}
    input {width: 180px;}
}

#usuarios{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

#bienvenida{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #654321;
}