@import "primeicons/primeicons.css";
* {font-family: Georgia, 'Times New Roman', Times, serif;}

.menu {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav{
    height: 110px;
    border-bottom: 3px solid #74502b;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.imas {
    width: 144px;
    height: 144px;
    border-radius: 50%;
    border: 3px solid #74502b;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 20px;
    justify-content: space-around;
    width: 16%;
    text-align: center;
    text-decoration: none;
    color: #654321;
}

a.logo {
    padding: 0;
    padding-top: 40px;
    width: 20%;
}

.active{
    font-weight: bold;
    color: #74502b;
    text-decoration: 0.1rem underline ;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: relative;
}

input {
    border: 1px solid #654321;
    border-radius: 5px;
    width: 200px;
    font-size: 15px;
    padding-inline-start: 5px;
    height: 35px;
}

@media screen and (max-width: 1700px) {
    a { padding: 10px 7px; font-size: 15px;}
    h6#bienvenida { font-size: 15px; }
    input { width: 180px; }
}

@media screen and (max-width: 1275px) {
    a { padding: 10px 0; font-size: 13px; text-align: center;}
    a.logo { padding: 0; margin: 5px; }
    nav { height: auto; padding: 0; }
    a.a-search { width: 200px; padding: 20px 0; }
}

@media screen and (max-width: 1199px) {
    a { width: 200px; }
    a.logo { padding: 0; margin: 5px 0; width: 200px;}
}

#usuarios{
    display: flex;
    flex-direction: column;
}

#bienvenida{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #654321;
}

#boton{
    margin-bottom: 6px;
}

button#login{
    margin-right: 6px;
}


/* //accesibilidad web */
.icono-accesibilidad img {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px; 
    top: 30px;
 
  }
.imap {
    width: 50px;
    height: 50px; 
    object-fit: contain; 
  }
  .iconitos{
    height: 25px;
    margin-right: 7px;
  }
  .iconitos:hover {
    transform: scale(1.3); 
  }
  .iconitos{
    transition: transform 0.3s ease-in-out;
  }
  .im:hover {
    transform: scale(1.3); 
  }
  .im{
    width: 330px;
    transition: transform 0.3s ease-in-out;
  }
  .accesibilidad{
    font-weight: bold;
    color: rgb(2, 115, 237);
  }
  .fonticon{
    font-weight: bold;
  }