/* Tercera seccion */
div.out{font-family: Georgia, 'Times New Roman', Times, serif;color: rgb(95, 94, 94);margin-top: 15px;}
.tit{font-weight: bolder;margin: 10px 0 15px 0;}
.right{text-align: left;padding-left: 25px;min-height: 100%;}
table{width: 100%;border-collapse: collapse;height: 100%;}
img.formulario{width: 540px;height: auto;}
.cont-bot{text-align: left;margin-top: 50px;}
td.td-img {text-align: right;}
.holder{
    width: 260px;
    height: 35px;
    padding-left: 20px;
    color: #333;   
    border: 1px solid #ccc;
    border-radius: 4px;
}
.holdermail{
    width: 540px;
    height: 35px;
    padding-left: 20px;
    color: #333;  
    border: 1px solid #ccc;
    border-radius: 4px;
}
.holdertext{
    width: 540px;
    padding-left: 20px;
    padding-top: 12px;
    color: #333;  
    border: 1px solid #ccc;
    border-radius: 4px;
}
.spacer {margin-right: 20px;}
.space {display: block; height: 20px;}
.spacedown{display: block; height: 70px; }
.p-button-custom {
    display: inline-block;
    padding: 7px 22px;
    background-color: rgb(191, 157, 136);
    color: white;
    border-radius: 50px;
    border: none;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.10s ease;
    text-decoration: none; 
    margin: 0;
}
.p-button-custom .p-button-label {color: #ffffff;}
.p-button-custom:hover {background-color:rgb(141, 114, 102);letter-spacing: 2px;}

/* Responsive */
@media screen and (max-width: 1500px) {
    /* Primera seccion */
    div.contenedor {min-height: 450px;}
    div.leyenda {max-width: 365px;max-height: 350px;margin: 30px 30px;}
    h3 {font-weight: 700;font-size: 20px;}
    p.all-p {font-weight: 400;margin: 0;}

    /* Segunda seccion */
    .map-map {width: 470px;height: 470px;}
    div.extra-1 { width: 50%;}
    div.img-mapa {height: 476px;width: 476px;}
    div.extra-1  > h3 {font-size: 20px;}
    div.extra-1 > h5 {font-size: 15px;}
    div.extra-1 > h5.last-h5 {margin-bottom: 15px;}
    div.extra-1 > h5.first-h5 {margin-top: 10px;}
    div.divisor {
        min-height: 4px;
        border-bottom: 2px solid #D2B48C;
        border-top: 1px solid #b59f82;
        margin: 5px 0 15px 0;
    }
    ul {font-size: 15px;}
}