<div *ngIf="siHay; else noCitas">
    <h2>Citas</h2>
    <table>
      <thead>
        <tr>
          <th>Interesado</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Fecha de visita</th>
          <th>Refugiado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cita of citas">
          <td>{{ cita.nombreIn }}</td>
          <td>{{ cita.telefonoIn }}</td>
          <td>{{ cita.correoIn }}</td>
          <td>{{ cita.fechaCita }}</td>
          <td>{{ cita.nombreAn }}</td>      
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noCitas>
    <p>No se encontraron citas.</p>
  </ng-template>
  