
body {
  font-family: 'Arial', sans-serif;
  background-color: #F5F5DC; 
  color: #4B3F2F; 
  margin: 0;
  padding: 20px;
}

h2 {
  color: #8B4513; 
  border-bottom: 2px solid #8B4513;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #FFF7E7; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #D2B48C; 
  color: #FFF;
}

th, td {
  padding: 12px 15px;
  text-align: left;
}

th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

tbody tr:nth-child(even) {
  background-color: #F5DEB3; 
}

tbody tr:hover {
  background-color: #F0E68C; 
}


p {
  font-size: 18px;
  color: #000000; 
}



.no-citas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
}


@media (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin-bottom: 15px;
  }

  td {
    border: none;
    position: relative;
    padding-left: 50%;
    text-align: right;
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}
