<div class="container">
    <div id="recaptcha-container" style="margin-left: 20px;"></div>
    <form id="contactus" [formGroup]="form" (ngSubmit)="onSubmit()">
        <br>
        <small>Favor de seguir la estructura para el número telefónico</small><br>
        <small>(+52 333-333-33-33)</small>
        <br><br>
        <div>
            <label for="exampleFormControlInput1" class="form-label"><b>Número telefónico</b></label>
            <input type="text" placeholder="+52 333-333-33-33" pattern="^\+52\s\d{3}-\d{3}-\d{2}-\d{2}$" class="form-control" required formControlName="celular">
            @if (this.form.get('celular')?.errors?.['required']) {
                <span>(El teléfono no puede quedar vacío)</span>
            }
            @if (this.form.get('celular')?.errors?.['pattern']) {
                <span>(El teléfono debe de seguir el patrón)</span>
            }
        </div>
        <br>
        <div>
            @if (paso==''){
                <button type="submit" class="pushable">
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front">
                        Enviar
                    </span>
                </button>
            }@else {
                <button type="submit" class="pushable" disabled>
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front">
                        Enviar
                    </span>
                </button>
            }
        </div>
    </form>
    
    
    <form id="" [formGroup]="code" (ngSubmit)="onCode()">
        <br>
        <div>
            <label for="exampleFormControlInput1" class="form-label"><b>Código de verificación</b></label>
            <input type="number" class="form-control" required formControlName="codigo">
            @if (this.code.get('codigo')?.errors?.['required']) {
                <span>(El código no puede quedar vacío)</span>
            }
        </div>
        <br>
        <div>
            @if (paso=='codigo') {
                <button type="submit" class="pushable">
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front">
                        Enviar
                    </span>
                </button>
            }@else {
                <button type="submit" class="pushable" disabled>
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front">
                        Enviar
                    </span>
                </button>
            }
            <div>
                <small>{{resultado}}</small>
            </div>
        </div>
    </form>
</div>
