<app-header></app-header>
<div class="hero-image">
    <h1 style="font-size: 36px; font-weight: bold;">¿CÓMO AYUDAR AL REFUGIO DE ADOPCIÓN DE PERROS?</h1>
</div>
<div class="contenidoPagina">
    <section style="padding: 20px; padding: 20px;max-width: 100%;margin-bottom: -40px;" id="donaciones">
        <div class="section-with-image">
            <img src="assets/media/adop.jpg" alt="Imagen izquierda">
            <p style="font-size: 17px;">
                <strong style="font-size: 32px; font-family: 'Roboto Flex', sans-serif;">¡Bienvenido a la sección "Cómo Ayudar" de Amor Incondicional!</strong>
                <br><br>
                Aquí en Amor Incondicional, valoramos profundamente el bienestar de nuestros amigos peludos y
                reconocemos que a veces, adoptar una mascota puede no ser posible. Sin embargo, eso no significa que no
                puedas marcar la diferencia en la vida de los animales necesitados.
                <br><br>
                Te invitamos a descubrir cómo puedes apoyar a nuestra misión de cuidar y proteger a los animales
                adoptados. Desde donaciones de alimentos y suministros hasta ofrecer tu tiempo y atención, cada gesto
                cuenta para hacer del mundo un lugar mejor para nuestros amigos de cuatro patas.
                <br><br>
                Explora nuestras sugerencias y descubre cómo puedes contribuir a brindarles un hogar seguro y amoroso a
                estos seres adorables. ¡Juntos, podemos hacer una diferencia significativa en la vida de los animalitos
                que tanto lo necesitan!
            </p>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="language-section" style="color: #fff;">
                    <h2>ESPAÑOL</h2>
                    <h3 style="color: #ccc;">Donaciones</h3>
                    <p style="color: white;">Puedes donar desde alimentos y medicinas hasta objetos o ropa para los animales del espacio de la
                        fundación. También puedes compartir tiempo con los animales y ayudarnos en la tarea para hacer
                        de este un mundo mejor.</p>
                </div>
                <div class="language-section" style="color: #fff;">
                    <h2>ENGLISH</h2>
                    <h3 style="color: #ccc;">Donations</h3>
                    <p style="color: white;">You can donate many different things, from food to medicine. However, since you are probably
                        reading this from abroad, the way you can help us the most is through money donations made just
                        choosing the value you want to give in our website. This money will be invested into food,
                        medications, veterinary treatments, farm adequation since our pets need to live comfortable
                        lives too.</p>
                </div>
            </div>
        </div>
        <div class="articles">
            <article>
                <figure>
                    <img src="assets/media/c1.jpg" alt="Lavender Fields">
                </figure>
                <div class="article-preview">
                    <h2>Entretener </h2>
                    <p>
                        Explora actividades divertidas y creativas para mantener a tu perro feliz y activo mientras
                        pasan tiempo en casa juntos.
                    </p>
                </div>
            </article>
            <article>
                <figure>
                    <img src="assets/media/c2.jpg" alt="Snowy Mountains">
                </figure>
                <div class="article-preview">
                    <h2>Preparar</h2>
                    <p>
                        Descubre cómo preparar tu hogar para la llegada de una nueva mascota y asegurar un
                        ambiente seguro y acogedor para ellos.
                    </p>
                </div>
            </article>
            <article>
                <figure>
                    <img src="assets/media/c3.jpg" alt="Wooden Bridge">
                </figure>
                <div class="article-preview">
                    <h2>Beneficios </h2>
                    <p>
                        Descubre por qué adoptar un perro o gato mayor puede ser una experiencia gratificante y cómo
                        puedes cuidar de ellos adecuadamente.
                    </p>
                </div>
            </article>
        </div>
    </section>
    <section id="apadrina">
        <div class="content">
            <img class="image" src="assets/media/adop2.jpg" alt="">
            <div class="text">
                <h1 style="color: rgb(255, 255, 255); font-size: 40px; font-weight: bold;">AYÚDANOS</h1>
                <h2>Apadrina un perro o gato</h2>
                <p>Si no puedes adoptar, puedes apadrinar alguno de nuestros peludos para que su estadia en nuestro
                    refugio sea optima...</p>
            </div>
        </div>
        <div class="content2">
            <div class="text" style="width: 50%;">
                <h3 style="font-weight: bold;">¿Por qué apadrinar un perrito en Amor incondicional?</h3>
                <ul>
                    <li>¡Porque en casa no puedes tener un perrito, pero aún así quieres tener un amigo peludo a quien
                        abrazar, aunque sea los fines de semana! Puede volverse un motivo de paseo con quienes amas.
                    </li>
                    <li>Porque hay demasiados perritos acá. Debido a la venta de perros en tiendas y criaderos sin
                        esterilizar, a la alta densidad de éstos en las calles, y su incontrolada reproducción, muchos
                        perritos pasan años acá sin saber lo que es el amor humano.</li>
                    <li>Por que al apadrinar un perrito, estableces un vínculo afectivo con otro ser vivo sintiente, que
                        va a esperarte ansioso cuando lo visites. Sobre todo si le llevas comida y pasas un rato con él.
                    </li>
                    <li>Porque los lazos que estableces con un perro son positivos física y emocionalmente para ti. Y
                        tendrás derecho a visitarlo cuando quieras y tener noticias de él. </li>
                    <li>Porque es más económico que tener un perrito en casa y acá ya están esterilizados.</li>
                </ul>
            </div>
            <img class="image" src="assets/media/c1.jpg" alt="">
        </div>
        <div class="card-container">
            <div class="card">
                <h3 style=" font-weight: bold;">PADRINOS Y MADRINAS</h3>
                <h4>Derechos</h4>
                <ul>
                    <li>Puedes visitar a tu apadrinado cuando quieras.</li>
                    <li>Puedes dedicarle una tarde para bañarlo, consentirlo y llevarlo a pasear.</li>
                    <li>Recibir información y fotos sobre el bienestar de tu peludo apadrinado.</li>
                </ul>
            </div>
            <div class="card green">
                <h3 style="color: #b0b0b0; font-weight: bold">PADRINOS Y MADRINAS</h3>
                <h4>Deberes</h4>
                <ul>
                    <li>Obrar en concordancia a lo establecido en la ley 1774 del 6 de enero de 2016 y asumir el
                        apadrinamiento del canino o felino, con responsabilidad y compromiso.</li>
                    <li>Consignar en Bacno el valor asignado en la cuenta de ahorros no: 013165026-24 a nombre de
                        la fundación Amor Incondicional NIT: 900.669.514-0 y hacernos llegar copia de la consignación al correo
                        AmorIncondicionalmasqueunamigo.gmail.com</li>
                </ul>
            </div>
        </div>
        <div class="planPadrinos">
            <div class="left">
                <img src="assets/pad.jpg" alt="Imagen Cuadrada">
            </div>
            <div class="right">
                <h2>Plan Padrinos</h2>
                <div class="plans">
                    <div class="plan">
                        <h3>PLAN T</h3>
                        <p>Incluye el alojamiento del peludito en Amor Incondicional = $80.000.</p>
                    </div>
                    <div class="plan">
                        <h3>PLAN P</h3>
                        <p>Incluye el alojamiento de un peludo pequeño en Amor Incondicional + un bulto de concentrado mensual +
                            vacuna anual = $150.000.</p>
                    </div>
                    <div class="plan">
                        <h3>PLAN E</h3>
                        <p>Incluye el alojamiento de un peludo pequeño en Amor Incondicional + un bulto de concentrado mensual =
                            $110.000.</p>
                    </div>
                    <div class="plan">
                        <h3>PLAN A</h3>
                        <p>Incluye el alojamiento de un peludo grande en Amor Incondicional + un bulto de concentrado mensual =
                            $160.000.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slogan" style="text-align: center;">
            <h3>¡JUNTOS PODEMOS AYUDAR A MÁS PELUDOS!</h3>
        </div>
        <div style="min-height: 7px; border-bottom: 3px solid #D2B48C; border-top: 2px solid #b59f82; margin: 15px 0 20px 0;" class="divisor"></div>
    </section>
    <section id="adopcion-responsable">
        <h3 style="margin-bottom: 20px;">Adopción Responsable: Un Paso Importante hacia el Amor Incondicional</h3>
        <p>La adopción responsable no solo implica traer una mascota a tu hogar, sino comprometerte con una vida llena
            de amor, cuidado y responsabilidad. Aquí encontrarás valiosa información para asegurarte de que estás listo
            para dar este importante paso y darle un hogar a un ser necesitado.</p>
        <p><strong>Algunos aspectos clave a considerar antes de adoptar:</strong></p>

        <!-- Carrusel Boostrap dog's -->
        <div id="carouselEdu" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselEdu" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselEdu" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselEdu" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselEdu" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselEdu" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselEdu" data-bs-slide-to="5" aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/apt1.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5
                            style="background-color:rgb(107, 66, 66); display: block; width: 700px; margin-left: auto; margin-right: auto; padding: 20px;">
                            Investigación</h5>
                        <p
                            style="background-color:rgb(255, 255, 255); display: block; width: 700px; margin-left: auto; margin-right: auto; padding: 15px;">
                            Dedica tiempo a investigar sobre la mascota adecuada para ti y tu estilo
                            de vida.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/apt2.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5
                            style="background-color:rgb(107, 66, 66); display: block; width: 700px; margin-left: auto; margin-right: auto; padding: 20px;">
                            Preparación del hogar</h5>
                        <p
                            style="background-color:rgb(255, 255, 255); display: block; width: 700px; margin-left: auto; margin-right: auto; padding: 15px;">
                            Asegúrate de tener todo listo para recibir al nuevo miembro de la familia, incluyendo un
                            lugar cómodo para dormir, juguetes y comida adecuada.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/apt3.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5
                            style="background-color:rgb(107, 66, 66); display: block; width: 700px; margin-left: auto; margin-right: auto; padding: 20px;">
                            Elegir un refugio o criador ético</h5>
                        <p
                            style="background-color:rgb(255, 255, 255); display: block; width: 700px; margin-left: auto; margin-right: auto; padding: 15px;">
                            Busca refugios que promuevan la adopción responsable
                            y criadores que críen sus mascotas de manera ética y responsable.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/apt4.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5
                            style="background-color:rgb(107, 66, 66); display: block; width: 700px; margin-left: auto; margin-right: auto; padding: 20px;">
                            Compromiso a largo plazo</h5>
                        <p
                            style="background-color:rgb(255, 255, 255); display: block; width: 700px; margin-left: auto; margin-right: auto; padding: 15px;">
                            La adopción es un compromiso a largo plazo. Asegúrate de estar
                            listo para cuidar y amar a tu mascota durante toda su vida.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/apt5.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5
                            style="background-color:rgb(107, 66, 66); display: block; width: 700px; margin-left: auto; margin-right: auto; padding: 20px;">
                            Consulta con un veterinario</h5>
                        <p
                            style="background-color:rgb(255, 255, 255); display: block; width: 700px; margin-left: auto; margin-right: auto; padding: 15px;">
                            Antes de adoptar, consulta con un veterinario para obtener
                            consejos sobre la salud y el cuidado de mascotas, y asegúrate de que tu mascota esté al día
                            con las vacunas y exámenes de salud.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/apt6.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5
                            style="background-color:rgb(107, 66, 66); display: block; width: 700px; margin-left: auto; margin-right: auto; padding: 20px;">
                            Considera adoptar mascotas mayores:</h5>
                        <p
                            style="background-color:rgb(255, 255, 255); display: block; width: 700px; margin-left: auto; margin-right: auto; padding: 15px;">
                            Las mascotas mayores a menudo son pasadas por alto,
                            pero pueden ser maravillosas compañeras. Considera adoptar un animal mayor y bríndale un
                            hogar lleno de amor en sus años dorados.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselEdu" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselEdu" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>


    <section id="preparacion-hogar" style="padding: 30px;">
        <h3>Preparación del Hogar</h3>
        <p>Antes de traer a tu nueva mascota a casa, es importante asegurarte de que esté preparada para recibirlos.
            Aquí hay algunos consejos para preparar tu hogar:</p>

        <div class="row">
            <div class="col-sm-2 mb-4">
                <div class="card" style="width: 13rem; background-color: #F2BC8E ;">
                    <img src="assets/ph1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Crear un espacio seguro y acogedor para tu mascota.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 mb-4">
                <div class="card" style="width: 13rem; background-color: #F2BC8E ;">
                    <img src="assets/ph2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Comprar los suministros necesarios, como comida, juguetes y una cama
                            cómoda.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 mb-4">
                <div class="card" style="width: 13rem; background-color: #F2BC8E ;">
                    <img src="assets/ph3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Eliminar los peligros potenciales, como productos químicos tóxicos o cables
                            eléctricos sueltos.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 mb-4">
                <div class="card" style="width: 13rem; background-color: #F2BC8E ;">
                    <img src="assets/ph4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Instalar una puerta de seguridad o barreras para restringir áreas
                            peligrosas.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 mb-4">
                <div class="card" style="width: 13rem; background-color: #F2BC8E ;">
                    <img src="assets/ph5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Colocar los objetos frágiles o valiosos fuera del alcance de tu mascota.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 mb-4">
                <div class="card" style="width: 13rem; background-color: #F2BC8E ;">
                    <img src="assets/ph6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Crear un horario diario para alimentación, paseos y tiempo de juego.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="preguntas-frecuentes">
        <h3>Preguntas frecuentes</h3>
        <p>¿Tienes preguntas sobre la adopción de mascotas? Aquí tienes algunas respuestas a preguntas comunes:</p>
    </section>

    <div class="html">
        <div class="body">
            <div class="faq-container">
                <details>
                    <summary>
                        <span class="faq-title">
                            ¿Qué debo considerar antes de adoptar un gato?
                        </span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="expand-icon" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </summary>
                    <div class="faq-content">
                        Antes de adoptar un gato, es importante considerar factores como el tiempo disponible para
                        cuidarlo,
                        los gastos asociados con la alimentación y atención médica, y si tu hogar es adecuado para un
                        gato.

                    </div>
                </details>
                <details>
                    <summary>
                        <span class="faq-title">
                            ¿Cuánto tiempo puede estar solo un perro durante el día?
                        </span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="expand-icon" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </summary>
                    <div class="faq-content">
                        El tiempo que un perro puede estar solo depende de varios factores, como la edad, la raza y el
                        temperamento del perro. En general, se recomienda no dejar a un perro solo por más de 4-6 horas
                        al
                        día.</div>
                </details>
                <details>
                    <summary>
                        <span class="faq-title">¿Qué debo hacer si mi mascota se escapa?</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="expand-icon" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </summary>
                    <div class="faq-content">Si tu mascota se escapa, es importante actuar rápidamente. Busca en tu
                        vecindario, llama a los
                        refugios locales y publica en redes sociales y sitios web de mascotas perdidas. También
                        asegúrate de
                        tener una identificación actualizada con la información de contacto.
                    </div>
                </details>
                <details>
                    <summary>
                        <span class="faq-title">¿Cuál es la mejor edad para esterilizar o castrar a mi mascota?</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="expand-icon" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </summary>
                    <div class="faq-content">La mejor edad para esterilizar o castrar a tu mascota depende de su
                        especie, tamaño y salud general.
                        En general, se recomienda esterilizar o castrar a los perros y gatos antes de que alcancen la
                        madurez sexual, generalmente entre los 4 y 6 meses de edad.</div>
                </details>
                <details>
                    <summary>
                        <span class="faq-title">¿Qué debo hacer si mi mascota muestra signos de enfermedad?</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="expand-icon" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </summary>
                    <div class="faq-content">Si tu mascota muestra signos de enfermedad, como falta de apetito, letargo
                        o vómitos, es importante
                        llevarla al veterinario lo antes posible. El veterinario puede realizar un diagnóstico y
                        proporcionar el tratamiento adecuado para ayudar a tu mascota a recuperarse.</div>
                </details>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</div>
<app-footer></app-footer>