@font-face {
  font-family: 'elegante';
  src: url('../../../assets/media/Lobster_Two/LobsterTwo-Regular.ttf') format('truetype');
}

.nues {
  font-family: 'elegante';
  color: #8D7366;
}

.big {
  padding-top: 70px;
  padding-bottom: 70px;
}

.titulo {
  text-align: center;
  padding-bottom: 20px;
}

.con {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box {
  position: relative;
  background-color: white;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.box1 {
  background-color: rgb(2, 139, 173);
}

.box2 {
  background-color: rgb(87, 84, 79);
}

.box3 {
  background-color: rgb(127, 0, 51);
}

.tex {
  padding: 30px;
  text-align: center;
  font-size: 18px;
}

.ima {
  width: 100%;
  filter: brightness(80%) grayscale(03%);
}

.ima2, .ima3 {
  filter: brightness(70%) grayscale(03%);
}

.colo, .colo2, .colo3 {
  position: relative;
}

.sobrepuesto, .sobrepuesto2, .sobrepuesto3 {
  z-index: 1;
  color: white; 
  position: absolute;
  text-align: center;
  top: 200px;
  left: 0;
  font-size: 35px;
  letter-spacing: 8px;
  font-weight: bolder;
  width: 100%;
}

.adop {
  color: white;
  letter-spacing: 5px;
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .con {
    grid-template-columns: repeat(2, 1fr);
  }

  .sobrepuesto, .sobrepuesto2, .sobrepuesto3 {
    top: 180px;
  }
}

@media screen and (max-width: 768px) {
  .con {
    grid-template-columns: 1fr;
  }

  .sobrepuesto, .sobrepuesto2, .sobrepuesto3 {
    top: 150px;
    font-size: 28px;
  }
}
