<body id="siobb">
  <br><br><br><br>
      <div class="container text-center">
        <div class="row align-items-start">

            <h1 style="color: antiquewhite;" class="tituloS">Integrantes:</h1>

          <div class="col">
            <div class="card animate__animated animate__backInLeft" >
                <img style="height: 270px;" src="assets/imgSio/JC.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Juan Carlos Morales Chavez</h5>
                  <p class="card-text">Estudiante de la Universidad Autónoma de Aguascalientes</p>
                  <a href="https://www.instagram.com/its_jucamch/" class="btn btn-light"><i class="fa-brands fa-instagram fa-lg" style="color: #000000;"></i></a>
                </div>
              </div>
          </div>

          <div class="col">
            <div class="card animate__animated animate__backInUp " >
                <img style="height: 270px;" src="assets/imgSio/sio.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Siomara Saenz Reyes</h5>
                  <p class="card-text">Estudiante de la Universidad Autónoma de Aguascalientes</p>
                  <a href="https://www.instagram.com/bby_saenz/" class="btn btn-light"><i class="fa-brands fa-instagram fa-lg" style="color: #000000;"></i></a>
                </div>
              </div>
          </div>

          <div class="col animate__animated animate__backInUp">
            <div class="card">
                <img style="height: 270px;" src="assets/imgSio/cesar.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cesar Reyes Barrientos</h5>
                  <p class="card-text">Estudiante de la Universidad Autónoma de Aguascalientes</p>
                  <a href="https://www.facebook.com/profile.php?id=100090891820562" class="btn btn-light"><i class="fa-brands fa-square-facebook fa-lg" style="color: #000000;"></i></a>
                </div>
              </div>    
          </div>

      

          <div class="col">
            <div class="card animate__animated animate__backInUp" >
                <img style="height: 270px;" src="assets/imgSio/gigi2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Giselle Vargas Alvarado</h5>
                  <p class="card-text">Estudiante de la Universidad Autónoma de Aguascalientes</p>
                  <a href="https://www.instagram.com/gigi_vargs/" class="btn btn-light"><i class="fa-brands fa-instagram fa-lg" style="color: #000000;"></i></a>
                </div>
              </div>
          </div>

          <div class="col">
            <div class="card animate__animated animate__backInRight" >
                <img style="height: 270px;" src="assets/imgSio/fabis.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Fabian Reyes Medina</h5>
                  <p class="card-text">Estudiante de la Universidad Autónoma de Aguascalientes</p>
                  <a href="https://www.instagram.com/_fabianreyes/" class="btn btn-light"><i class="fa-brands fa-instagram fa-lg" style="color: #000000;"></i></a>
                </div>
              </div>
          </div>
    
          
        </div>
      </div>
      <br><br>
      <p style="color: antiquewhite; font-family: Georgia, 'Times New Roman', Times, serif; text-align: center;">Esta pagina fue realizada con el fin de la evaluacion del mini-proyecto segundo parcial de la carrera de ISC en su materia Tecnologias Web.</p>      
<br><br>
</body>
