<div class="relleno">
    <p (mouseover)="content($event)" class="rell">Adopta. Apadrina. Dona. Comparte. Involucrate.</p>
    <br>
    <p (mouseover)="content($event)" class="relle">Tu Amigo Incondicional es una organización sin fines
        de lucro centrada en rescatar y ayudar en la transición de animales
        domésticos desplazados hacia hogares ideales para ellos. Bounce
        hace hincapié en la atención veterinaria de calidad, la nutrición,
        programas de esterilización/castración, educación y adopciones compatibles.
    </p>
</div>

<div class="pont">
    <h1 (mouseover)="content($event)">¿Qué es un refugio para animales?</h1>
    <div class="vi">
        <iframe
            [src]="video | domseguro : 'https://www.youtube.com/embed/' " 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>
    </div>
</div>

<div class="tablas">
    <div class="tablaone">
        <p (mouseover)="content($event)" class="head">ADOPTA</p>
        <p (mouseover)="content($event)">Te invitamos a nuestras jornadas de adopción o visita la fundación para que conozcas a tu alma gemela.
            Todos nuestros peludos son entregados en óptimas condiciones de salud a adoptantes responsables que se
            comprometan a cuidarlos por el resto de sus vidas.
        </p>
        <br>
        <p class="adop"><a (mouseover)="content($event)" class="adop" routerLink="/mascotas" routerLinkActive="active"><u>ADOPTA</u></a> -></p>
        <br><br><hr>
        <span class="space"></span>
        <p class="head" (mouseover)="content($event)" >APADRINA</p>
        <p (mouseover)="content($event)">Puedes apadrinar alguno de nuestros peludos para que su estadía en nuestro refugio sea óptima. Manejamos
             diferentes planes de padrinos en los que puedes hacer un aporte mensual. Si estás interesado en apadrinar
              un Tepiano contáctanos y te daremos más detalles.
        </p>
        <br>
        <p class="adop"><a class="adop" routerLink="/mascotas" routerLinkActive="active"><u (mouseover)="content($event)" >APADRINA A UN PELUDITO</u></a> -></p>
        <br><br><hr>
    </div>
    <div class="tablatwo">
        <p (mouseover)="content($event)" class="head">DONA</p>
        <p (mouseover)="content($event)">Puedes donar desde alimentos y medicinas hasta cobijas o tejas para la adecuación del refugio. También
             puedes compartir tiempo con los peluditos, ayudarnos en la fundación o hacer donaciones en dinero.
        </p>
        <br>
        <p  class="adop"><a class="adop" routerLink="/ayuda" routerLinkActive="active"><u (mouseover)="content($event)">HAZ TU DONACION</u></a> -></p>
        <br><br><hr>
        <br><br>
        <p (mouseover)="content($event)" class="head">DIFUNDE</p>
        <p (mouseover)="content($event)">Comparte, participa y apoya las jornadas de adopción y nuestros eventos como caminatas y jornadas de baño.
            Ayúdanos a promover las jornadas de esterilización gratuitas o de bajo costo que compartimos en nuestras redes.
        </p>
        <br>
        <p (mouseover)="content($event)" class="adop"><a class="adop" routerLink="/ayuda" routerLinkActive="active"><u>COMPARTE</u></a> -></p>
        <br><br><hr>
    </div>
</div>

<router-outlet></router-outlet>